<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/public/js/script.js"></script>
</head>
<body>
  <header>
  <div class="logo">
    <a href="/" class="logo"><img src="/images/logo.png" alt="Community Portal Logo" class="logo-img"></a>
  </div>
  <nav>
    <ul id="menu">
      <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
      <li><a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">About</a></li>
      <li><a href="/events" class="<%= currentPage === 'events' ? 'active' : '' %>">Events</a></li>
      <li><a href="/contact" class="<%= currentPage === 'contact' ? 'active' : '' %>">Contact</a></li>
    </ul>
  </nav>
</header>
  <main>